{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Lorry Driveloper</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
  </head>
  <body>
        <nav id="navBar" class="navbar navbar-dark fixed-top">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse " id="navLinks">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#Me" class="nav-link">Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Skills" class="nav-link">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a href="#certifications" class="nav-link">Certifications</a>
                    </li>
                    <li class="nav-item">
                        <a href="#projects" class="nav-link">Projects</a>
                    </li>

                </ul>
            </div>
        </nav>
        <section id="Me" class="container-fluid">
            <h1 class="display-1 text-center pt-4">Lorry Driveloper</h1>

        </section>
        <section id="Skills" class="container-fluid pt-4">
            <h2 class="sectionHeader display-3  pt-5 saving">Things I am learning<span>.</span><span>.</span><span>.</span><span>.</span></h2>
            <p class="phrase">Things than I am studying forever o until I master what goes first...</p>
            <hr>
            <div class="container">
                <div class="row">
                    {% for obj in learning %}
                        <div class="col-3 my-auto ">
                            <img src='{{obj.icon.url}}' class="img-fluid " alt="">
                        </div> 
                    {% endfor %}     
                </div>
            </div>
        </section>
        <section id="certifications" class="container-fluid pt-4">
            <h2 class="display-3 pt-5">Certifications</h2>
        </section>
        <section id="projects" class="container-fluid pt-4">
            <h2 class="display-3 pt-5">My Projects</h2>
        </section> 
        

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>