{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Lorry Driveloper</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'core/js/slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'core\js\slick\slick-theme.css'%}">

    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
  </head>
  <body>
    <!-- <div class="preloader">
        <div id="res_gauger">
            <div class="res_base">
                <div><b><span class="estate_full">E</span></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b></b></div>
                <div><b><span class="estate_empty">F</span></b></div>
            </div>
            <div class="line"></div>
            <div class="res_pin"><div class="inner"></div></div>
        </div>

    </div> -->

     <!-- End of Preloader -->

        <aside class="nav-aside">
                <ul class="nav-aside__list">
                  <li>
                    <button class="nav-aside__cta util-btn">
                      <div class="nav-aside__line nav-aside__line--1"></div>
                      <div class="nav-aside__line nav-aside__line--2"></div>
                      <div class="nav-aside__line nav-aside__line--3"></div>
                    </button>
                  </li>
                </ul>
                <!--   End of .nav-aside__list -->
              </aside>
              <!-- End of .nav-aside -->
              
              <nav class="navigation">
                  <ul>
                    <li><a class="js-anchor-link" onclick="animationReverse(4)" href="#Me" data-content="The beginning">Home</a></li>
                    <li><a class="js-anchor-link" onclick="animationReverse(4)" href="#Skills" data-content="Learning....">Skills</a></li>
                    <li><a class="js-anchor-link" onclick="animationReverse(4)" href="#certifications" data-content="Well something better than nothing">Certificates</a></li>
                    <li><a class="js-anchor-link" onclick="animationReverse(4)" href="#projects" data-content="Not to many yet">Projects</a></li>
                    <li><a class="js-anchor-link" onclick="animationReverse(4)" href="#" data-content="Don't hesitate">Contact</a></li>
                  </ul>
        
              </nav>
              <!-- End of .navigation -->
    

        <section id="Me" class="container-fluid">
            <h1 class="sectionHeader">Lorry Driveloper</h1>
            <div id="avatar">
            </div>
            <p class="phrase">
              In my way to my dream work, meanwhile joining my actual work with my dream work as developer.
            </p>
            <p class="phrase"> I am a 38 year old lorry driver than always has dream to become a developer and past time writing code, but the live give me other path to follow and until now I didn't notice how wrong I was, never later for a U turn even for a big lorry.</p>

        </section>
         <section id="Skills" class="container-fluid">
            <h2 class="sectionHeader saving">Things I am learning<span>.</span><span>.</span><span>.</span><span>.</span></h2>
            <p class="phrase">Things than I am studying forever or until I master what happens first...</p>
            <div class="container">
                <div class="row">
                    {% for obj in learning %}
                        <div class="col-3 my-2 py-2 learn">
                         <img src="{{obj.icon.url}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                        </div> 
                    {% endfor %}     
                </div>
            </div>
        </section>
       <section id="certifications" class="container-fluid">
            <h2 class="sectionHeader">Certifications</h2>
            <p class="phrase">Papers saying I archived something, better this than nothing...</p>
            
            <div class="wrapper">
              {% for obj in certifications %}
                <div class="cert_container">
                  <div class="cert_img" style="--var-to-css:url({{obj.cert_img.url}});">
                    <img src="{{obj.cert_img.url}}" alt="">
                  </div>
                  <div class="cert_info">
                    <h3>Technology</h3>
                    <p>{{obj.cert_related}}</p>
                    <h3>Organitation</h3>
                    <p><a href="{{obj.organization.organization_url}}">{{obj.organization.name}}</a></p>
                    <h3>Course Name</h3>
                    <p>{{obj.name}}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
        </section>
        <section id="projects" class="container-fluid">
          <h2 class="sectionHeader">Projects</h2>
          <div class="slider_nav">
            {% for project in projects %}

            <div class="nav_button" style="--var-to-css:url({{project.screenshot.url}});">
            <p class="centered">{{project.name}}</p>

            </div>  
              
            
            {% endfor %}
          </div>

          <div class="slider_for">
            {% for project in projects %}
              <div class="cert_container">
                    <div class="cert_img" style="--var-to-css:url({{project.screenshot.url}});">
                      <img src="{{project.screenshot.url}}" alt="Screenshot of the project {{project.name}}">
                    </div>
                    <div class="cert_info">
                    
                    </div>
                  </div>
            {% endfor %}
          </div>


        </section>
        <section class="container-fluid" id="contact">

        </section>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src={% static 'core/js/slick/slick.min.js' %}></script>
    <script src={% static 'core/js/code.js' %}></script>
</body>
</html>